@font-face {
    font-family: Norse-Bold;
    src: url(./Fonts/Norse-Bold.otf);
}

h1 {
    font-family: Norse-Bold;
}

body {
    margin: 0;
    padding: 0;
}

.main {
    display: flex;
    height: 100%;
    width: 100%;
}

.left {
    background-image: url(./Images/background.avif);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 35vw;
}

.right {
    display: flex;
    justify-content: center;
}