@font-face {
    font-family: Norse-Bold;
    src: url(./Fonts/Norse-Bold.otf);
}

body {
    margin: 0;
    padding: 0;
}

.main {
    display: flex;
    height: 100%;
    width: 100%;
}

.left {
    background-image: url(./Images/background.avif);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    /* font-family: Norse-Bold, sans-serif; */
    height: 100vh;
    width: 35vw;
}

.right {
    display: flex;
    flex-direction: column;
    background-color: #fafafa;
    width: 65vw;
}

.first {
    align-items: flex-end;
    display: flex;
    height: 33vh;
    margin-left: 5%;
    margin-bottom: 5%;;
}

.second {
    height: 28vh;
}

.third {
    height: 28vh;
}